/* Koen van der Kamp 12466573 */
.sliderdiv
{
  display: block;
  position: relative;
  left: 300px;
}
.slider
{
  position: relative;
  top: 30px;
  width: 500px;
}
.slidertext
{
  position: absolute;
  left: 250px;
}
.legenda
{
  position: absolute;
  top: 200px;
  height: 200px;
}
.xlabel, .ylabel, .slidertext, .title, .legendatext .legendatitle
{
   text-anchor: middle;
   font-size: 15px;
   font-family: "sans-serif";
}
