canvas {
  position: absolute;
  border: 1px solid black;
}
div
{
  background-color: white;
  visibility: hidden;
  font-size: 10px;
  position: absolute;
  z-index: 10;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  white-space: pre-line;
}
